workflows/FIOS_n8n_Blank_Canvas.json
{
  "name": "FIOS Blank Canvas (Start Here)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fios-master",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e67e3a12-1111-4b71-9df1-866b8fb71318",
      "name": "FIOS Master Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "fios-master"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.event }}",
        "rules": {
          "rules": [
            {
              "value2": "conversation_init",
              "outputKey": "conversation_init"
            },
            {
              "value2": "copilot_assist",
              "outputKey": "copilot_assist"
            },
            {
              "value2": "clickup_setup",
              "outputKey": "clickup_setup"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "c1f72a44-2222-42b7-a068-085eec5915d0",
      "name": "Event Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Received by n8n Router\"\n}",
        "options": {}
      },
      "id": "abc12345-3333-4f10-b97c-9ef1c7bbba81",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "FIOS Master Webhook": {
      "main": [
        [
          {
            "node": "Event Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Router": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
