workflows/FIOS_n8n_Sync_Workflow.json
{
  "name": "FIOS Brain Sync Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "fios-brain-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1a2b3c4d",
      "name": "FIOS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "fios-brain-sync-id"
    },
    {
      "parameters": {
        "content": "## FIOS Brain Sync Receiver\n\nThis webhook receives real-time updates from your local FIOS Brain system (Jobs, Proposals, Conversations).\n\n1. **Webhook URL**: You'll copy the **Test** or **Production** URL from the FIOS Webhook node.\n2. **Payload format**: `{\"type\": \"job_details\", \"data\": {...}}`"
      },
      "id": "5e6f7g8h",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "proposals"
            }
          ]
        }
      },
      "id": "9i0j1k2l",
      "name": "Is Proposal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "conversation"
            }
          ]
        }
      },
      "id": "3m4n5o6p",
      "name": "Is Conversation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7q8r9s0t",
      "name": "Process Proposal Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1u2v3w4x",
      "name": "Process Convo Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5y6z7a8b",
      "name": "Process Job Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "FIOS Webhook": {
      "main": [
        [
          {
            "node": "Is Proposal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Proposal?": {
      "main": [
        [
          {
            "node": "Process Proposal Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Conversation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Conversation?": {
      "main": [
        [
          {
            "node": "Process Convo Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2ccf1fb-86ea-4d04-a698-4db8a2a7a58b",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "J1xH5tK1V1v4k9L9",
  "tags": []
}
