workflows/FIOS_Agent_Helper.json
{
  "name": "FIOS AGENT HELPER WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "path": "fios-brain-sync",
        "options": {}
      },
      "id": "webhook",
      "name": "FIOS Extension Signal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "job_details"
            }
          ]
        }
      },
      "id": "is-job",
      "name": "Is New Job?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/research/job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_data\": {{ $json.data }}\n}",
        "options": {}
      },
      "id": "deep-research",
      "name": "Trigger Deep Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        540,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/brain/note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"Deep Research Result for {{ $('FIOS Extension Signal').item.json.data.title }}: {{ $json.research.winning_angle }}\",\n  \"source\": \"n8n_research_agent\"\n}",
        "options": {}
      },
      "id": "sync-back",
      "name": "Sync Back to Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        280
      ]
    }
  ],
  "connections": {
    "FIOS Extension Signal": {
      "main": [
        [
          {
            "node": "Is New Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Job?": {
      "main": [
        [
          {
            "node": "Trigger Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Deep Research": {
      "main": [
        [
          {
            "node": "Sync Back to Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
