workflows/FIOS_Master_Orchestrator.json
{
  "name": "FIOS MASTER ORCHESTRATOR",
  "nodes": [
    {
      "parameters": {
        "path": "fios-master",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Extension Gateway",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-event",
      "name": "Has Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "conversation_init" }] }, "renameOutput": true, "outputKey": "conversation_init" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "conversation_update" }] }, "renameOutput": true, "outputKey": "conversation_update" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "quick_reply" }] }, "renameOutput": true, "outputKey": "quick_reply" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "strategic_reply" }] }, "renameOutput": true, "outputKey": "strategic_reply" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "pricing_advice" }] }, "renameOutput": true, "outputKey": "pricing_advice" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "free_chat" }] }, "renameOutput": true, "outputKey": "free_chat" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "job_analysis" }] }, "renameOutput": true, "outputKey": "job_analysis" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "proposal_record" }] }, "renameOutput": true, "outputKey": "proposal_record" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "profile_sync" }] }, "renameOutput": true, "outputKey": "profile_sync" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "clickup_kickoff" }] }, "renameOutput": true, "outputKey": "clickup_kickoff" },
            { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "clickup_sync_status" }] }, "renameOutput": true, "outputKey": "clickup_sync_status" }
          ]
        }
      },
      "id": "event-router",
      "name": "Event Router (Switch)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://127.0.0.1:8000/api/v1/agent/conversation/exists?room_id={{ $json.room_id }}",
        "options": {}
      },
      "id": "check-room",
      "name": "Does Room Exist?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.exists }}", "value2": true }]
        }
      },
      "id": "room-exists-gate",
      "name": "Room Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1020, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/conversation/init",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $('Extension Gateway').item.json.room_id, \"client_name\": $('Extension Gateway').item.json.client_name, \"messages\": $('Extension Gateway').item.json.messages, \"conversation_link\": $('Extension Gateway').item.json.conversation_link } }}",
        "options": {}
      },
      "id": "init-conv",
      "name": "Init New Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/conversation/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $('Extension Gateway').item.json.room_id, \"new_messages\": $('Extension Gateway').item.json.messages } }}",
        "options": {}
      },
      "id": "update-conv",
      "name": "Update Existing Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/conversation/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $json.room_id, \"new_messages\": $json.new_messages } }}",
        "options": {}
      },
      "id": "scenario2",
      "name": "S2: conversation_update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/reply/quick",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $json.room_id } }}",
        "options": {}
      },
      "id": "scenario3",
      "name": "S3: Quick Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/reply/strategic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $json.room_id } }}",
        "options": {}
      },
      "id": "scenario4",
      "name": "S4: Strategic Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/pricing/advice",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $json.query } }}",
        "options": {}
      },
      "id": "scenario5",
      "name": "S5: Pricing Advice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $json.query, \"context\": $json.context } }}",
        "options": {}
      },
      "id": "scenario6",
      "name": "S6: Free Chat Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/job/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"title\": $json.title, \"description\": $json.description } }}",
        "options": {}
      },
      "id": "scenario7",
      "name": "S7: Job Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 820]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/proposal/record",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"job_title\": $json.job_title, \"cover_letter\": $json.cover_letter, \"bid_amount\": $json.bid_amount } }}",
        "options": {}
      },
      "id": "scenario9",
      "name": "S9: Proposal Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 940]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/profile/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "scenario10",
      "name": "S10: Profile Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 1060]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/clickup/setup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"room_id\": $json.room_id } }}",
        "options": {}
      },
      "id": "scenario11",
      "name": "S11: ClickUp Setup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 1180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/v1/agent/clickup/sync-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"task_id\": $json.task_id, \"status\": $json.status } }}",
        "options": {}
      },
      "id": "scenario12",
      "name": "S12: ClickUp Sync Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 1300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Extension",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Extension Gateway": {
      "main": [[{ "node": "Has Event?", "type": "main", "index": 0 }]]
    },
    "Has Event?": {
      "main": [
        [{ "node": "Event Router (Switch)", "type": "main", "index": 0 }],
        [{ "node": "Respond to Extension", "type": "main", "index": 0 }]
      ]
    },
    "Event Router (Switch)": {
      "main": [
        [{ "node": "Does Room Exist?", "type": "main", "index": 0 }],
        [{ "node": "S2: conversation_update", "type": "main", "index": 0 }],
        [{ "node": "S3: Quick Reply", "type": "main", "index": 0 }],
        [{ "node": "S4: Strategic Reply", "type": "main", "index": 0 }],
        [{ "node": "S5: Pricing Advice", "type": "main", "index": 0 }],
        [{ "node": "S6: Free Chat Query", "type": "main", "index": 0 }],
        [{ "node": "S7: Job Analysis", "type": "main", "index": 0 }],
        [{ "node": "S9: Proposal Record", "type": "main", "index": 0 }],
        [{ "node": "S10: Profile Sync", "type": "main", "index": 0 }],
        [{ "node": "S11: ClickUp Setup", "type": "main", "index": 0 }],
        [{ "node": "S12: ClickUp Sync Status", "type": "main", "index": 0 }]
      ]
    },
    "Does Room Exist?": {
      "main": [[{ "node": "Room Exists?", "type": "main", "index": 0 }]]
    },
    "Room Exists?": {
      "main": [
        [{ "node": "Update Existing Conversation", "type": "main", "index": 0 }],
        [{ "node": "Init New Conversation", "type": "main", "index": 0 }]
      ]
    },
    "Init New Conversation": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "Update Existing Conversation": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S2: conversation_update": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S3: Quick Reply": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S4: Strategic Reply": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S5: Pricing Advice": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S6: Free Chat Query": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S7: Job Analysis": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S9: Proposal Record": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S10: Profile Sync": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S11: ClickUp Setup": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    },
    "S12: ClickUp Sync Status": {
      "main": [[{ "node": "Respond to Extension", "type": "main", "index": 0 }]]
    }
  }
}
